.title h2{
    font-family: El Messiri;
    font-size: 30px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;    
}

.title{
    margin-top:3px;
}

.card{
    margin-left:130px;
    margin-right: 130px;
    margin-top:25px;
    display: flex;
    justify-content: space-around;
}

.card-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 718px;
    margin-right:50px;
}

.card-text h2{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #163A5F;
}

.card-text p{
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.card img{
    height: 230px;
    width: 370px; 
}

.buton{
    height: 50px;
    width: 350px;
    border-radius: 10px;
    background: #21ABA5;
    display:flex;
    justify-content: center;
    align-items: center;
}

.buton a{
    font-family: El Messiri;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    cursor:pointer;
}

.buton-container{
    display: flex;
    justify-content: center;
    margin-top:10px;
}