<div class="title">
    <h2>
        RETUR COMOD
    </h2>
</div>
<div class="card">
    <div class="card-text">
        <h2>
            Contactati echipa noastra de asistenta Suport  
        </h2>
        <p>
            Contactați Echipa noastră de asistență telefonic la +49 721 96693-920 sau prin e-mail în termen de 14 zile de la primirea ceasului. Aceasta vă va confirma intrarea la timp a revocării și va iniția toate etapele următoare.
        </p>
    </div>
    <img src="../../../../assets/retur-comod/1.png" alt="">
</div>

<div class="card">
    <div class="card-text">
        <h2>
            2. Expediati ceasul inapoi catre comerciant
        </h2>
        <p>
            Expediați ceasul înapoi către comerciant în ambalajul original și cu asigurare. Cheltuielile de retur va trebui să le suportați dvs.
        </p>
    </div>
    <img src="../../../../assets/retur-comod/2.png" alt="">
</div>

<div class="card">
    <div class="card-text">
        <h2>
            3. Noi va rambursam intregul pret de cumparare
        </h2>
        <p>
            Bineînțeles că vă vom rambursa rapid și facil atât prețul de cumpărare depus în contul nostru fiduciar, cât și costurile de expediere deja plătite.
        </p>
    </div>
    <img src="../../../../assets/retur-comod/3.png" alt="">
</div>

<div class="buton-container">
    <div class="buton">
        <a (click)="onClose()">Am inteles</a>
    </div>
</div>


