@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

* {
    font-family: 'El Messiri', sans-serif;
}

.searchbar {
    margin-top:30px;
    height: 86px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #163A5F;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

.searchbar div>img {
    cursor: pointer;
    width: 40px;
}

.searchbar button{
  cursor: pointer;
  border:none;
  line-height:1;
  text-decoration: none;
  background-color:transparent;
}

.searchbar .div {
    display: flex;
    align-items: center;
    width: 1200px;
}

.searchbar .input {
    padding: 0 20px;
    width: 90%;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.74);
}
.searchbar form{
  margin-left:20px;
  width:100%;
}