<div class="navbar">

    <a href="#" class="navbar__left"><img src="assets/logo.svg" alt=""></a>

    <ul class="navbar__middle">
        <li><a href="#">BUY A WATCH</a></li>
        <li><a href="#">SELL A WATCH</a></li>
        <li><a href="#">CATEGORIES</a></li>
        <li><a href="#">ABOUT</a></li>
    </ul>

    <ul class="navbar__right">
        <li><a href="#">Log in</a></li>
        <li><a href="#" style = "text-decoration: underline;" >Register</a></li>
        <a href="#"><img src="assets/user.svg" alt="" style = "margin-top: 6px;"></a>
    </ul>
</div>