
.info_utilizator_box{
    width: 1215px;
    height: 900px;
    background: #1D566E;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-left: 50%;
    transform:translateX(-50%);
    margin-top: 152px;
    margin-bottom: 160px;
}
.poza_profil{
    margin-left: 50%;
    transform:translateX(-50%);
    border-radius: 100px;
    margin-top: 29px;
}
.descr{
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'El Messiri';
    font-style: normal;
    margin-top: 40px;
}
.lista_pref{
   width: fit-content;
   margin: 0 auto;
}
li{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #EEEEEE;
}
.button_box{
    display: flex;
    justify-content: center;
    column-gap: 123px;
}
.button_green{
    background: #21ABA5;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.button_text{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
}
.button_rose{
    background: #F08080;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    margin-left: 50%;
    transform:translateX(-50%);
    cursor: pointer;
}
.button_text_rose{
    font-family: 'El Messiri';
    margin-left: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}
.flex_text_img{
    display: flex;
    align-items: center;
}
.inima{
    margin-right: 25px;
    margin-left: 25px;
}