
  <div class="info_utilizator_box" *ngIf="auth.user$ | async as user">
    <img class="poza_profil" src="assets/profil-utilizator-cumparator-images/image 6.png">
    <h1 class="descr">Nume: {{profileJson?.user_name}}</h1>
    <!--  -->
    <h1 class="descr" id="numar_tel">Nr de telefon : <span [style.color]="numberTelColor">{{profileJson?.phone_number}}</span></h1>
    <button type="button" class="button_green"><h1 class="button_text" (click)="toggleNumber()">Schimba nr de telefon</h1></button>
        
        <ng-container *ngIf="insertNumber">
          <form>
            <input (keydown.enter)="save($event)" class="change_number" type="number" name="name" placeholder="Enter Phone Number">
          </form>
        </ng-container>
    <!--  -->
    <h1 class="descr">Numar de anunturi adaugate: {{productsLength}}</h1>
  
    <button type="button" class="button_rose">
       <div class="flex_text_img">
        <h1 class="button_text_rose" [routerLink]="['/favorite-list']">Vezi produse preferate</h1>
        <img class="inima" src="assets/profil-utilizator-cumparator-images/Vector.png">
       </div>
    </button> 
    <button (click)="toggle()" type="button" class="button_cyan">
      <div class="flex_text_img">
        <h1  class="button_text_rose">Adauga locatia preferata</h1>
          <div class="locatie_logo">
            <img class="locatiee" src="assets/profil-utilizator-cumparator-images/img_locatie_pref.png">
            <img class="sub_locatiee" src="assets/profil-utilizator-cumparator-images/sub_locatie.png">
          </div>
      </div>
    </button>
  </div>

 <ng-container *ngIf="show">
  <div class="adaugare_adresa">
    <div class="adrese_pt_livrare">
           <h1 class="adrese_msj">Adresa curenta:</h1>
           <div class="adresa_model">
            <div class="mic_flex">
              <h1 class="Locatie_adresa styyle_text">{{profileJson?.postal_code}}</h1>
              
            </div>
               <h1 class="adresa_efectiva styyle_text1">{{profileJson?.address}}</h1>
               <h1 class="oras_tara styyle_text1">{{profileJson?.city}}, {{profileJson?.county}}</h1>
          </div>  
    </div>
    
    <div class="bara">

    </div>
    <!--  -->
    <div class="adaugare">
      <form (ngSubmit)="saveAdress()" [formGroup]="userDetails" >
        <h1 class="adrese_msj">Modificare adresa pentru livrare:</h1>

        <div class="row">
          <div class="col-25">
            <label for="mechanism">City</label>
          </div>
          <div class="col-75">
            <input type="text" id="mechanism" name="mechanism" formControlName="city">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="mechanism">County</label>
          </div>
          <div class="col-75">
            <input type="text" id="mechanism" name="mechanism" formControlName="county">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="mechanism">Street</label>
          </div>
          <div class="col-75">
            <input type="text" id="mechanism" name="mechanism" formControlName="address">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="mechanism">ZIP(or postal) code</label>
          </div>
          <div class="col-75">
            <input type="text" id="mechanism" name="mechanism" formControlName="postal_code">
          </div>
        </div>
          <button class="salveaza_adresa" type="submit"><h1 class="salv_adr">Add the adress to my profile</h1></button>
        
      </form>      
    </div>

    <img (click)="toggle()" class="cancel_save" src="assets/profil-utilizator-cumparator-images/cancel_save_adress.png">
</div>
 </ng-container>
 <ng-container *ngIf="productsLength">
  <div class="if_seller">
    <div class="filter">
      <h1 class="drescriere_fil">Filtreza anunturile:</h1>
      <button (click)="toggle1()" class="filtru first_btn">
  
          <div *ngIf="status1 === 'none'">
              <img class="sageatad" src="assets/seller_profile/sageata_dreapta.png">
          </div>
  
          <div *ngIf="status1 === 'first'">
               <img class="sageatad" src="assets/seller_profile/sageata_jos.png">
           </div>
               
           <h1 class="atribut">Brand</h1>
       </button>
       <div *ngIf="status1 === 'first'">
         <!--  -->
         <div class="drescriere_atribut" *ngFor="let product of brandFilterFINAL"  >
          <input type="checkbox" (click)="filterFunction1(product,'brand')">
           {{product}} 
          </div>  
          
       </div>
      
       
       <button (click)="toggle2()" class="filtru">
           <div *ngIf="status2 === 'none'">
               <img class="sageatad" src="assets/seller_profile/sageata_dreapta.png">
           </div>
  
           <div *ngIf="status2 === 'secound'">
                <img class="sageatad" src="assets/seller_profile/sageata_jos.png">
            </div>
                
            <h1 class="atribut">Pentru</h1>
        </button>
        <div *ngIf="status2 === 'secound'">

          <div class="drescriere_atribut" *ngFor="let product of sexFilterFINAL" >
            
            <div *ngIf="product==0"><input type="checkbox" (click)="filterFunction1(product,'sex')"> Barbat</div>
            <div *ngIf="product==1"><input type="checkbox" (click)="filterFunction1(product,'sex')"> Femeie</div>
          </div>

        </div>
  
        <button (click)="toggle3()" class="filtru">
           <div *ngIf="status3 === 'none'">
               <img class="sageatad" src="assets/seller_profile/sageata_dreapta.png">
           </div>
  
           <div *ngIf="status3 === 'third'">
                <img class="sageatad" src="assets/seller_profile/sageata_jos.png">
            </div>
                
            <h1 class="atribut">Conditie</h1>
        </button>
        <div *ngIf="status3 === 'third'">
           
            <div class="drescriere_atribut" *ngFor="let product of conditionFilterFINAL" >
              <input type="checkbox" (click)="filterFunction1(product,'condition')">
              {{product}} </div>
        </div>
  
        <button (click)="toggle4()" class="filtru">
           <div *ngIf="status4 === 'none'">
               <img class="sageatad" src="assets/seller_profile/sageata_dreapta.png">
           </div>
  
           <div *ngIf="status4 === 'forth'">
                <img class="sageatad" src="assets/seller_profile/sageata_jos.png">
            </div>
                
            <h1 class="atribut">An</h1>
        </button>
        <div *ngIf="status4 === 'forth'">
          <div class="drescriere_atribut" *ngFor="let product of yearFilterFINAL" >
            <input type="checkbox" (click)="filterFunction1(product,'year')">
            {{product}} </div>
        </div>
   </div>
  
      <div class="slider">
              
          <div class="paginator" *ngIf="productsLength >= 0">
            
            <div *ngIf="curentFilter.includes('year')||curentFilter.includes('brand')||curentFilter.includes('sex')||curentFilter.includes('condition')">
                  <div *ngFor="let product of productsJson | slice: lowValue : highValue">
                    <!--  <div *ngIf="curentValueFilter.includes(product.year)||curentValueFilter.includes(product.brand)||curentValueFilter.includes(product.gender) "> -->
                      <div *ngIf="checkFilter(product?.year,product?.brand,product?.gender,product?.conditions)==1">
                        <app-delete-product-card productName={{product?.brand}} watchYear={{product?.year}} watchPrice={{product?.price}} sellerName={{product?.user_id}}  productId={{product?.id}} locationName="Bucuresti" date="5/12/2022"></app-delete-product-card>
                      </div>
                  </div>
            </div>

       



            <div *ngIf="curentFilter.includes('none')">
              <app-delete-product-card *ngFor="let product of productsJson | slice: lowValue : highValue" productName={{product?.brand}} watchYear={{product?.year}} watchPrice={{product?.price}} sellerName={{product?.user_id}} productId={{product?.id}} locationName="Bucuresti" date="5/12/2022"></app-delete-product-card>
            </div>

        <!-- <app-seller-profile-product-card *ngFor="let product of productsJson | slice: lowValue : highValue" productName={{product.brand}} watchPrice={{product.price}} sellerName={{product.user_id}} locationName="Bucuresti" date="5/12/2022"></app-seller-profile-product-card> -->
        <mat-paginator appPaginatorStyle [showTotalPages]="3" [length]="productsLength" [pageSize]="pageSize" 
        (page)="getPaginatorData($event)" >
        </mat-paginator> 
  
         </div>
    
      </div>
   </div>
 </ng-container>
 
    
  
    
  
  
