<h1>Detalii comanda</h1>

<div class="details__content">
    <div class="details__container">
        <div class="details__card">
            <div class="card__content">
                <p>1. Modalitate de livrare</p>
                <input type="radio" id="livrare_curier" name="livrare_curier">
                <label for="livrare_curier">Livrare prin curier</label>
            </div>       
        </div>

        <div class="details__card">
            <div class="card__content">
                <p>2. Date facturare</p>
                <div class="facturare__content">
                    <p class="functie">Persoana fizica</p>
                    <div class="facturare__details">
                        <p>Alexandra Popescu</p>
                        <p>Strada Nucilor nr 12 - București</p>
                    </div>
                </div>
                <div class="align-right">
                    <button class="btn-modifica">Modifica datele</button>
                </div>
                
            </div>       
        </div>

        <div class="details__card">
            <div class="card__content">
                <p>3. Modalitate de plata</p>
                <div class="plata__content">
                    <p>Date despre card</p>
                    
                </div>
                <div class="align-right">
                    <button class="btn-modifica">Modifica datele</button>
                </div>
            </div>       
        </div>

    </div>
    <app-summary-card costProduse={{totalPrice}} costLivrare="0" costTotal={{totalPrice}} routeLink="/cart/checkout" btnText="Continua"></app-summary-card>
    <!--<app-checkout-summary-card costProduse="2000" costLivrare="30" costTotal="2030"></app-checkout-summary-card>-->
</div>