<app-searchbar></app-searchbar>

<div class="container-image">
    <div class="image"></div>
</div>

<div class="container-company">
    <h2>
        Company
    </h2>
    <p>
        People who love luxury watches inspire us as much as precious timepieces. That’s why sellers and buyers of luxury watches have our undivided attention.
    </p>
    <p>
        We know that our company wouldn’t exist without valuable watches and enthusiastic watch lovers. But we are not only fond of high-quality timepieces and their admirers. The complexities of information technology and the challenges of global markets also motivate us to push ourselves further every day. Because web and mobile technologies are our core competencies.
    </p>
</div>

<div class="container-team">
    <h2>
        Team
    </h2>
    <p>
        What sets us apart? An inspiring corporate culture, an experienced management team, and the
        contagious team spirit in our units. 
    </p>
    <div class="images-team">
        <img src="../../../../assets/about-us/2.png" alt="">
        <img src="../../../../assets/about-us/3.png" alt="">
        <img src="../../../../assets/about-us/4.png" alt="">
    </div>
    <div class="paragraphs-team">
        <div class="paragraph-team">
            <h2>
                Culture
            </h2>
            <p>
                Our goal is to bring trust and transparency to the global luxury watch market. This is also reflected in our corporate culture.
            </p>
            <p>
                Content employees create the best products. Openness and appreciation are key elements of our corporate culture. 
            </p>
        </div>
        <div class="paragraph-team">
            <h2>
                Management
            </h2>
            <p>
                Aside from a love for watches, our management team brings years of experience in successfully operating online marketplaces to the table.
            </p>
            <p>
                Valuable watches and enthusiastic watch lovers – a fascinating global market for our company. 
            </p>
        </div>
        <div class="paragraph-team">
            <h2>
                Units
            </h2>
            <p>
                Each of our units is unique, but all share one thing: people who are passionate about their work.
            </p>
            <p>
                ChronoA3 is a dynamic company. We scrutinize structures, dare to do things differently, and create our own future. 
            </p>
        </div>
    </div>
</div>


