<div class="top">
    <div class="header">
        <div class="header--filter"></div>
        <div class="searchbar">
            <div class="div">
                <img src="../../../../assets/home/search.png" alt="">
                <input class="input" type="text" placeholder="Search by brand, color ...">
            </div>
            <img src="../../../../assets/home/circle-arrow.svg" alt="">
        </div>
    </div>
    <div class="top-text">
        <h2>Caring for your watch</h2>
    </div>
</div>
<div class="first-card">
    <div class="first-card-text">
        <h2>TIP 1.  Protect your watch from jolts</h2>
        <br>
        <p>Don't do any extreme sports with your watch on! A one-meter fall onto a hard surface is enough to damage a watch. Wearing your watch while participating in sports like mountain biking or skiing results in constant, violent shaking of the movement, causing damage even without falling. 
            Don't leave your watch in high temperatures. Outside influences accelerate the aging process and affect how your watch functions.
        </p>
    </div>
    <img src="../../../../assets/caring-for-your-watch/1.png">
</div>
<div class="card second">
    <h2>TIP 2. Have your watch regularly serviced
    </h2>
    <br>
    <p>If you wear your watch every day, it's being used 24 hours a day, 365 days a year. A watch is composed of numerous tiny, sensitive pieces that fit together perfectly and over time experience wear and tear. To avoid any problems, you should have your watch serviced by a professional watchmaker every five years.
    </p>
</div>
<div class="card third">
    <h2>TIP 3.  Store your watch properly
    </h2>
    <br>
    <p>Never carry your watch loosely in a purse or bag, where it can be shaken or scratched by objects with sharp edges. Upholstered boxes that secure your watch inside them are the best option for storage. Vintage watches, in particular, are more sensitive than modern timepieces with sapphire glass, etc. Make sure that your watch doesn't spend long periods of time in unfavorable conditions like bright sunlight or very dusty or humid environments.
    When selling your watch, its condition plays a major role:
    the better shape your watch is in, the greater the likelihood is of finding potential buyers and obtaining a good price.
    </p>
</div>
<div class="card-buttons">
    <div class="card-button firstcard">
        <a [routerLink]="['/advice-for-sellers/selling-a-watch']" routerLinkActive="active">Back to selling</a>
    </div>
    <div class="card-button">
        <a [routerLink]="['/advice-for-sellers/photographing-a-watch']" routerLinkActive="active">Photographing</a>
    </div>
</div>