.header {
    background-image: url('../../../../assets/home/header_background.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 671.23px;
    max-height: 671.23px;
    display: flex;
    justify-content: center;
}

.header--filter {
    position: absolute;
    width: 100%;
    height: 671.23px;
    background-color: rgba(0, 0, 0, 0.5);
}

.top{
    height: 833px;
}

.top-text{
    height: 96px;
    margin-top:70px;
    margin-bottom:50px;
    display:flex;
    justify-content: center;
}
.top-text h2{
    font-family: El Messiri;
    font-size: 40px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: center;    
}

.searchbar {
  z-index: 5;
  margin-top: 473px;
}

.searchbar>img {
    width: 30px;
}

.searchbar .div {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchbar .div img {
    margin-right: 17px;
}

.input {
    padding: 0 20px;
    width: 90%;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.74);
}

.first-card{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:131px;
    margin-left:200px;
    margin-right:155px;
}

.first-card-text{
    height: 315px;
    width: 872px;
}

.first-card-text h2{
    font-family: El Messiri;
    font-size: 30px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.first-card-text p{
    font-family: El Messiri;
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

.card{
    width: 1550px;
    display:flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
}

.card h2{
    font-family: El Messiri;
    font-size: 30px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
}

.card p{
    font-family: El Messiri;
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
}

.second{
    margin-top:45px;
}

.third{
    margin-top:105px;
    margin-bottom:100px;
}

.card-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    width:1890px;
}

.firstcard{
    margin-right:168px;
}

.card-button{
    width: 270px;
    height: 50px;
    background: #21ABA5;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-button a{
    font-family: El Messiri;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color:white;
}