<div>
  <div class="header">

    <div class="header--filter"></div>
    <app-searchbar></app-searchbar>
  </div>

  <div class="recommendations">
    <h1>Gaseste-ti ceasul perfect!</h1>
    <h2>Recomandari:</h2>
    <div class="recommendations__cards">
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
    </div>
    <button class="more">
      <p>Mai mult</p>
      <img src="../../../../assets/home/arrow-right.svg" alt="">
    </button>
  </div>
  <div class="categories">
    <h1>Categorii de ceasuri</h1>
    <div class="categories__cards">

      <app-categories-card text="Ceasuri de lux"></app-categories-card>
      <app-categories-card text="Ceasuri cronograf"></app-categories-card>
      <app-categories-card text="Ceasuri pentru aviatori"></app-categories-card>
      <app-categories-card text="Ceasuri din aur"></app-categories-card>
      <app-categories-card text="Ceasuri vintage"></app-categories-card>
      <app-categories-card text="Ceasuri minimaliste"></app-categories-card>
      <app-categories-card text="Ceasuri editie limitata"></app-categories-card>
      <app-categories-card text="Ceasuri pentru afaceri"></app-categories-card>
    </div>
    <button class="more">
      <p>Mai mult</p>
      <img src="../../../../assets/home/arrow-right.svg" alt="">
    </button>
  </div>

  <div class="promoted">
    <h1>Anunturi promovate</h1>
    <div class="promoted__cards">
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
    </div>
    <button class="more">
      <p>Mai mult</p>
      <img src="../../../../assets/home/arrow-right.svg" alt="">
    </button>
  </div>

</div>