<div>
    <div class="header">
        <div class="header--filter"></div>
        <div class="searchbar">
            <div class="div">
                <img src="../../../../assets/home/search.png" alt="">
                <input class="input" type="text" placeholder="Search by brand, color ...">
            </div>
            <img src="../../../../assets/home/circle-arrow.svg" alt="">
        </div>
    </div>

    <div class="recommendations">
        <h1>Gaseste-ti ceasul perfect!</h1>
        <h2>Recomandari:</h2>
        <div class="recommendations__cards">
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
        </div>
        <button class="more">
            <p>Mai mult</p>
            <img src="../../../../assets/home/arrow-right.svg" alt="">
        </button>
    </div>
    <div class="categories">
        <h1>Categorii de ceasuri</h1>
        <div class="categories__cards">
            <div class="categories__card">
                <img src="../../../../assets/home/category_watch.png" alt="">
                <p>Ceasuri de lux</p>
            </div>
            <div class="categories__card">
                <img src="../../../../assets/home/category_watch.png" alt="">
                <p>Ceasuri cronograf</p>
            </div>
            <div class="categories__card">
                <img src="../../../../assets/home/category_watch.png" alt="">
                <p>Ceasuri pentru aviatori</p>
            </div>
            <div class="categories__card">
                <img src="../../../../assets/home/category_watch.png" alt="">
                <p>Ceasuri din aur</p>
            </div>
            <div class="categories__card">
                <img src="../../../../assets/home/category_watch.png" alt="">
                <p>Ceasuri vintage</p>
            </div>
            <div class="categories__card">
                <img src="../../../../assets/home/category_watch.png" alt="">
                <p>Ceasuri minimaliste</p>
            </div>
            <div class="categories__card">
                <img src="../../../../assets/home/category_watch.png" alt="">
                <p>Ceasuri editie limitata</p>
            </div>
            <div class="categories__card">
                <img src="../../../../assets/home/category_watch.png" alt="">
                <p>Ceasuri pentru afaceri</p>
            </div>
        </div>
        <button class="more">
            <p>Mai mult</p>
            <img src="../../../../assets/home/arrow-right.svg" alt="">
        </button>
    </div>

    <div class="promoted">
        <h1>Anunturi promovate</h1>
        <div class="promoted__cards">
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
            <div class="recommendations__card">
                <img src="../../../../assets/home/watch2.png" alt="">
                <h3>Ceas ROLEX</h3>
                <div class="recommendations__flex">
                    <p>50.000 $</p>
                    <img src="../../../../assets/home/heart.svg" alt="">
                </div>
            </div>
        </div>
        <button class="more">
            <p>Mai mult</p>
            <img src="../../../../assets/home/arrow-right.svg" alt="">
        </button>
    </div>

</div>