<div>
  <div class="header">
    <div class="header--filter"></div>
    <app-searchbar class="searchbar"></app-searchbar>
  </div>

  <div class="recommendations">
    <h1>Gaseste-ti ceasul perfect!</h1>
    <h2>Recomandari:</h2>
    <div class="recommendations__cards">
      <app-watch-card *ngFor="let product of productsJson | slice: 0 : 4" price={{product.price}} name={{product.brand}} productId={{product.id}}></app-watch-card>
    </div>
    <button class="more" [routerLink]="['/buy-a-watch']">
      <p>Mai mult</p>
      <img src="../../../../assets/home/arrow-right.svg" alt="">
    </button>
  </div>
  <div class="categories">
    <h1>Categorii de ceasuri</h1>
    <div class="categories__cards">
      <app-categories-card text="Ceasuri de lux"></app-categories-card>
      <app-categories-card text="Ceasuri cronograf"></app-categories-card>
      <app-categories-card text="Ceasuri pentru aviatori"></app-categories-card>
      <app-categories-card text="Ceasuri din aur"></app-categories-card>
      <app-categories-card text="Ceasuri vintage"></app-categories-card>
      <app-categories-card text="Ceasuri minimaliste"></app-categories-card>
      <app-categories-card text="Ceasuri editie limitata"></app-categories-card>
      <app-categories-card text="Ceasuri pentru afaceri"></app-categories-card>
    </div>
    <button class="more" [routerLink]="['/buy-a-watch']">
      <p>Mai mult</p>
      <img src="../../../../assets/home/arrow-right.svg" alt="">
    </button>
  </div>

  <div class="promoted">
    <h1>Alte anunturi</h1>
    <div class="promoted__cards">
      <app-watch-card *ngFor="let product of productsJson | slice: 4 : 12" price={{product.price}} name={{product.brand}} productId={{product.id}}></app-watch-card>
    </div>
    <button class="more" [routerLink]="['/buy-a-watch']">
      <p>Mai mult</p>
      <img src="../../../../assets/home/arrow-right.svg" alt="">
    </button>
  </div>

</div>