<div class="container">
  <form (ngSubmit)="postData()" [formGroup]="multistep" >

    <!-- FIRST PAGE -->

    <div class="tab" *ngIf="step == 1" formGroupName="itemDetails">
      <!-- Item Details -->
      <div class="category">
        <h2>Item Details</h2>
        <p>Offer(*required field)</p>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="brand">Brand*</label>
        </div>
        <div class="col-75">
          <select id="brand" formControlName="brand">
            <option value="" disabled selected>Please select</option>
            <option *ngFor="let status_item of brand_values">
            {{status_item}}
            </option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="model">Model*</label>
        </div>
        <div class="col-75">
        
            <input type="text" id="model" name="model" formControlName="model">
      
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="mechanism">Mechanism*</label>
        </div>
        <div class="col-75">
          <input type="text" id="mechanism" name="mechanism" formControlName="mechanism">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="conditions">Condition*</label>
        </div>
        <div class="col-75">
          <select id="conditions" name="conditions" formControlName="conditions">
            <option value="" disabled selected>Please select</option>
            <option *ngFor="let status_item of condition_values">
              {{status_item}}
              </option>
          </select>
        </div>
      </div>
  
  <!-- Basic Info -->
  
      <div class="category">
        <h2>Basic Info</h2>
        <p>Offer(*required field)</p>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="gender">Gender*</label>
        </div>
        <div class="col-75">
          <select id="gender" name="gender" formControlName="gender">
            <option value="" disabled selected>Please select</option>
            <option value="0">Male</option>
            <option value="1">Female</option>
            <option value="2">Unisex</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="year">Year of production*</label>
        </div>
        <div class="col-75">
          <input type="number" id="year" name="year" formControlName="year">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="strap">Strap</label>
        </div>
        <div class="col-75">
          <select id="strap" name="strap" formControlName="strap">
            <option value="" disabled selected>Please select</option>
            <option *ngFor="let status_item of strap_values">
              {{status_item}}
              </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="strap_color">Strap Color</label>
        </div>
        <div class="col-75">
          <select id="strap_color" name="strap_color" formControlName="strap_color">
            <option value="" disabled selected>Please select</option>
            <option *ngFor="let status_item of strap_color">
              {{status_item}}
              </option>
          </select>
        </div>
      </div>
  
  <!-- Carcase Info -->
  
  <div class="category">
    <h2>Carcase Info</h2>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="carcase">Carcase</label>
    </div>
    <div class="col-75">
      <input type="text" id="carcase" name="carcase" formControlName="carcase">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="carcase_form">Form</label>
    </div>
    <div class="col-75">
      <select id="carcase_form" name="carcase_form" formControlName="carcase_form">
        <option value="" disabled selected>Please select</option>
        <option value="Round">Round</option>
        <option value="Square">Square</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="carcase_thickness">Thickness</label>
    </div>
    <div class="col-75">
      <select id="carcase_thickness" name="carcase_thickness" formControlName="carcase_thickness">
        <option value="" disabled selected>Please select</option>
        <option value="2 to 8mm">2 to 8mm</option>
        <option value="8 to 12mm">8mm to 12mm</option>
        <option value="12 to 20mm">12mm-20mm</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="carcase_color">Color</label>
    </div>
    <div class="col-75">
      <select id="carcase_color" name="carcase_color" formControlName="carcase_color">
        <option value="" disabled selected>Please select</option>
        <option *ngFor="let status_item of carcase_color">
          {{status_item}}
          </option>
      </select>
    </div>
  </div>
  
  <!-- Technical Details -->
  
  <div class="category">
    <h2>Technical Details</h2>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="water_resistence">Water resistence</label>
    </div>
    <div class="col-75">
      <select id="water_resistence" name="water_resistence" formControlName="water_resistence">
        <option value="" disabled selected>Please select</option>
        <option value="yes">ISO 2281 water resistance testing</option>
        <option value="no">ISO 2281 water resistance testing</option>
  
      </select>
    </div>
  </div>
  
  <div class="row">
    <div class="col-25">
      <label for="alarm">Alarm</label>
    </div>
    <div class="col-75 radio">
      <label for="alarm-yes">YES</label>
      <input type="radio" id="alarm-yes" name="alarm" value="1" formControlName="alarm">
      <label for="alarm-no">NO</label>
      <input type="radio" id="alarm-no" name="alarm" value="0" formControlName="alarm">
    </div>
  </div>
  
  <div class="row">
    <div class="col-25">
      <label for="timer">Timer</label>
    </div>
    <div class="col-75">
      <label for="alarm-yes">YES</label>
      <input type="radio" id="timer-yes" name="timer" value="1" formControlName="timer">
      <label for="alarm-no" class="last">NO</label>
      <input type="radio" id="timer-no" name="timer" value="0" formControlName="timer">
    </div>
  </div>
  
  <!-- PRICE -->
  
  <div class="category">
    <h2>Price</h2>
    <p>Offer(*required field)</p>
  </div>
  <div class="row">
  <div class="col-25">
      <label for="price">Price*</label>
    </div>
    <div class="col-75 price">
      <input type="number" id="price" name="price" formControlName="price">
      <!-- <select name="currency" id="currency" formControlName="currency">
        <option value="usd">USD</option>
        <option value="euro">Euro</option>
        <option value="lei">Lei</option>
      </select> -->
    </div>
  </div>
  
  </div>
  
    <!-- SECOND PAGE -->

    <!-- <div class="tab" *ngIf="step == 2">
    
      
  <div class="category">
    <h2>Pictures</h2>
    <br><br>
    <p>Good pictures put the finishing touch on your listing. Take pictures of your watch from all angles in order to attract the most buyers.</p>
  </div>
  <div class="upload">
  <label class="file-upload">
    <img src="../../../../assets/form-addproduct/add-photo-1.png" alt="poza"> <br>
    <span class="upload-text">Select files</span> or <br> drag and drop
    <input type="file" multiple>
  </label>
  </div>
  <div class="linie">
  </div>
 
    </div> -->

    <div class="tab" *ngIf="step == 2">
    
      <!-- PRICE -->
  <div class="category">
    <h2>Pictures</h2>
    <br><br>
    <p>Good pictures put the finishing touch on your listing. Take pictures of your watch from all angles in order to attract the most buyers.</p>
  </div>
  <div class="upload">
  <label class="file-upload">
    <img src="../../../../assets/form-addproduct/add-photo-1.png" alt="poza"> <br>
    <span class="upload-text">Select files</span> or <br> drag and drop
    <input type="file" multiple>
  </label>
  </div>
  <div class="linie">
  </div>

    </div>
  

      <!-- THIRD PAGE -->
      <div *ngIf="step == 3" formGroupName="userDetails">
        <div class="category">
          <h2>Personal Information</h2>
          <div class="linie"></div>
        </div>

         <div class="row">
    <div class="col-25">
        <label for="firstname">First Name*</label>
      </div>
      <div class="col-75">
        <input type="text" id="firstname" name="firstname" formControlName="firstname">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
          <label for="lastname">Last Name*</label>
        </div>
        <div class="col-75">
          <input type="text" id="lastname" name="lastname" formControlName="lastname">
        </div>
    </div>
    
    <div class="row">
      <div class="col-25">
          <label for="dateofbirth">Date of birth*</label>
        </div>
        <div class="col-75">
          <input type="date" id="dateofbirth" name="dateofbirth" formControlName="dateofbirth">
        </div>
      </div>

      <div class="category">
        <h2>Adress</h2>
        <div class="linie"></div>
      </div>

      <div class="row">
        <div class="col-25">
            <label for="street">Street*</label>
          </div>
          <div class="col-75">
            <input type="text" id="street" name="street" formControlName="street">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
              <label for="street2">Street*</label>
            </div>
            <div class="col-75">
              <input type="text" id="street2" name="street2" formControlName="street2">
            </div>
        </div>

        <div class="row">
          <div class="col-25">
              <label for="zip">ZIP(or postal) code</label>
            </div>
            <div class="col-75">
              <input type="text" id="zip" name="zip" formControlName="zip">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
                <label for="country">Country*</label>
              </div>
              <div class="col-75">
                <input type="text" id="country" name="country" formControlName="country">
              </div>
          </div>

          <div class="row">
            <div class="col-25">
                <label for="phone">Phone number*</label>
              </div>
              <div class="col-75">
                <input type="text" id="phone" name="phone" formControlName="phone">
              </div>
          </div>

      </div>

      <!-- BUTOANE -->

      <div class="row">
    <a class="prev" *ngIf="step == 3" (click)="previous()">BACK TO PICTURES</a>
    <!-- <button class="next" *ngIf="step != 2">Next</button> -->
    <a class="prev" *ngIf="step == 2" (click)="previous()">BACK TO STEP 1</a>

    <button type="button" class="next" *ngIf="step == 1" (click)="next()">
      <p>Accept details and continue</p>
      <img src="../../../../assets/home/arrow-right.svg" alt="">
    </button>
    <button type="button" class="next" *ngIf="step == 2" (click)="next()">
      <p>Continue to personal information</p>
      <img src="../../../../assets/home/arrow-right.svg" alt="">
    </button>

    <button type="submit" class="next" *ngIf="step == 3">
      <p>Post Listing</p>
      <img src="../../../../assets/home/arrow-right.svg" alt="">
    </button>
    </div>


    <br>
    <br><br>
    <pre>{{multistep.value | json}}</pre>
  </form>
</div>