<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <form action="">

    <!-- Item Details -->
    <div class="category">
      <h2>Item Details</h2>
      <p>Offer(*required field)</p>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="brand">Brand*</label>
      </div>
      <div class="col-75">
        <select id="brand" name="brand">
          <option value="" disabled selected>Please select</option>
          <option value="brand1">Brand 1</option>
          <option value="brand2">Brand 2</option>
          <option value="brand3">Brand 3</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="model">Model*</label>
      </div>
      <div class="col-75">
        <select id="model" name="model">
          <option value="" disabled selected>Please select</option>
          <option value="model1">Model 1</option>
          <option value="model2">Model 2</option>
          <option value="model3">Model 3</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="mechanism">Mechanism*</label>
      </div>
      <div class="col-75">
        <input type="text" id="mechanism" name="mechanism">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="condition">Condition*</label>
      </div>
      <div class="col-75">
        <select id="condition" name="condition">
          <option value="" disabled selected>Please select</option>
          <option value="new">New</option>
          <option value="used">Used</option>
        </select>
      </div>
    </div>

<!-- Basic Info -->

    <div class="category">
      <h2>Basic Info</h2>
      <p>Offer(*required field)</p>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="gender">Gender*</label>
      </div>
      <div class="col-75">
        <select id="gender" name="gender">
          <option value="" disabled selected>Please select</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="year">Year of production*</label>
      </div>
      <div class="col-75">
        <input type="number" id="year" name="year">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="strap">Strap</label>
      </div>
      <div class="col-75">
        <select id="strap" name="strap">
          <option value="" disabled selected>Please select</option>
          <option value="strap1">Strap 1</option>
          <option value="strap2">Strap 2</option>
          <option value="strap3">Strap 3</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="strapcolor">Strap Color</label>
      </div>
      <div class="col-75">
        <select id="strapcolor" name="strapcolor">
          <option value="" disabled selected>Please select</option>
          <option value="blue">Blue</option>
          <option value="black">Black</option>
          <option value="white">White</option>
        </select>
      </div>
    </div>

<!-- Carcase Info -->

<div class="category">
  <h2>Carcase Info</h2>
</div>
<div class="row">
  <div class="col-25">
    <label for="carcase">Carcase</label>
  </div>
  <div class="col-75">
    <input type="text" id="carcase" name="carcase">
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="form">Form</label>
  </div>
  <div class="col-75">
    <select id="form" name="form">
      <option value="" disabled selected>Please select</option>
      <option value="form1">Form 1</option>
      <option value="form2">Form 2</option>
      <option value="form3">Form 3</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="strap">Thickness</label>
  </div>
  <div class="col-75">
    <select id="strap" name="strap">
      <option value="" disabled selected>Please select</option>
      <option value="thickness1">Thickness 1</option>
      <option value="thickness2">Thickness 2</option>
      <option value="thickness3">Thickness 3</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="strapcolor">Color</label>
  </div>
  <div class="col-75">
    <select id="carcasecolor" name="carcasecolor">
      <option value="" disabled selected>Please select</option>
      <option value="blue">Blue</option>
      <option value="black">Black</option>
      <option value="white">White</option>
    </select>
  </div>
</div>

<!-- Technical Details -->

<div class="category">
  <h2>Technical Details</h2>
</div>
<div class="row">
  <div class="col-25">
    <label for="waterproof">Water resistence</label>
  </div>
  <div class="col-75">
    <select id="waterproof" name="waterproof">
      <option value="" disabled selected>Please select</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>

    </select>
  </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="alarm">Alarm</label>
  </div>
  <div class="col-75 radio">
    <label for="alarm-yes">YES</label>
    <input type="radio" id="alarm-yes" name="alarm" value="yes">
    <label for="alarm-no">NO</label>
    <input type="radio" id="alarm-no" name="alarm" value="no">
  </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="timer">Timer</label>
  </div>
  <div class="col-75">
    <label for="alarm-yes">YES</label>
    <input type="radio" id="timer-yes" name="timer" value="yes">
    <label for="alarm-no" class="last">NO</label>
    <input type="radio" id="timer-no" name="timer" value="no">
  </div>
</div>

<!-- PRICE -->

<div class="category">
  <h2>Price</h2>
  <p>Offer(*required field)</p>
</div>
<div class="row">
<div class="col-25">
    <label for="price">Price*</label>
  </div>
  <div class="col-75 price">
    <input type="number" id="price" name="price">
    <select name="price" id="price">
      <option value="usd">USD</option>
      <option value="euro">Euro</option>
      <option value="lei">Lei</option>
    </select>
  </div>
</div>




    <div class="row">
      <button type="submit" value="Submit">Accept details and continue
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
