@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=El+Messiri:wght@400;500;600&display=swap');

* {
  margin: 0;
  border:0;
  box-sizing: border-box;
}

.header-form {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'DM Mono', monospace;
  font-weight: 400;
  color: #082A4D;
  
}

.header-form h3 {
  padding: 10px 100px;
}



a {
  cursor: pointer;
}

input[type=text],input[type=number],input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  resize: vertical;
  color: #082A4D;
  background-color: #e0e2e3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* .row button {
  background-color: #21ABA5;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
} */

.row .next {
  float: right;
}

.row .prev {
  float: left;
  color: #727272;
}

.container {
	max-width: 960px;
  margin:auto;
  border-radius: 5px;
  padding: 20px;
  font-family: 'DM Mono', monospace;
  font-weight: 400;
  color: #082A4D;
}
.category {
  margin-bottom: 30px;
  margin-top: 30px;
}

h1,h2,h3,h4 {
  font-weight: normal;
}

.category h1 ,
.category h2 {
  font-weight: normal;
}

.row {
  margin-bottom: 60px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 100px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;

}

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #333;
  border: 3px solid white;
  width: 16px;
  height: 16px;
  margin-right: 60px;
}

input[type='radio']:checked {
  background: #333;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.price input {
  width: 80%;
  border-radius: 0;
}
.price select {
  width: 20%;
  background-color: #bfbebe;
  border-radius: 0;
}

/* Upload photos */

input[type="file"] {
  display: none;
}

.file-upload {
  border: 1px dashed #000;
  display: inline-block;
  padding: 40px 30px;
  cursor: pointer;
  text-align: center;
  background: rgba(245, 243, 243, 0.8);
}

.file-upload img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.upload {
  margin-bottom: 60px;
}
.linie {
  border: 1px solid #BFC5CB;
  margin: 30px 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* BUTOANE */

.next {
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px 0px;
  min-width: 200px;
  display: flex;
  align-self: end;
  margin: 20px 5% 0 0;
  justify-content: space-evenly;
  border-radius: 12px;
  border: none;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(33, 171, 165, 1);
}

.next:hover {
  background-color: rgb(20, 144, 138);
  transition: all .4s;
}

.next>p {
font-family: 'El Messiri', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 25px;
padding: 0px 15px;

/* identical to box height */
}

.next>img {
  padding: 0px 15px;
}



@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}