@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

* {
    font-family: 'El Messiri', sans-serif;
}

.watch-card {
    position: relative;
    width: 80vw;
    height: 200px;
    background-color: white;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    padding: 13px 24px 13px 39px;
    margin-bottom: 70px;
}

.watch-img {
    width: 250px;
    height: 173px;
    border-radius: 10px;
    object-fit: cover;
}

.flex-column {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.flex-column-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 24px;
}

.flex-column h1 {
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 75px;
}

.flex-column h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 10px;
}

.flex-column h3 {
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
}

.flex-column-right h1 {
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 25px;
}

.flex-column-right img {
    width: 22.98px;
    margin-bottom: 25px;
    cursor: pointer;
}


.promoted-watch {
    border: 1px solid #45EBA5;
}

.btn {
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    border: none;
    background: #45EBA5;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 50px;
    padding: 0 15px;
}

.btn:hover {
    background: #31cd8c;
    transition: .4s all;
}