<h1>Cosul meu</h1>

<div class="cart__content">
    <div class="products__container">
        <app-product-card productName="Ceas Fossil 10 ATM" productPrice="2000" productDelivery="30" productTotal="2030" vendor="Ion Popescu"></app-product-card>
        <app-product-card productName=  "Ceas Fossil 10 ATM" productPrice="2000" productDelivery="30" productTotal="2030" vendor="Ion Popescu"></app-product-card>

    </div>
    <app-summary-card costProduse="2000" costLivrare="30" costTotal="2030"></app-summary-card>
</div>