@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
*{
    font-family: 'El Messiri', sans-serif;
}

h1{
    margin: 48px 100px 0;
    font-size: 40px;
}

.cart__content{
    margin: 12px 110px 48px;
    display: flex;
    justify-content: space-between;
}

.products__container{
    width: 65%;
    background-color: white;
    padding: 42px 24px;
    border-radius: 20px;
}

