<div class="page">
  <div class="page__content">

    <div class="title">
      <h1>Favorite</h1>
      <button class="more">
        <p>Lista noua</p>
      </button>
    </div>
    <div class="grey-bar"> </div>

    <h2 class="all-products">Toate produsele <span>(3 produse in 1 lista)</span></h2>

    <div class="favorite-list">
      <!-- de adaugat productId = {{...}} cand integreaza back end-ul-->
      <app-favorite-watch-card *ngFor="let product of productsJson" buyerId={{userId}} name={{product.brand}} seller={{product.seller}}
        price={{product.price}}>
      </app-favorite-watch-card>

    </div>

    <h4>Alti vizitatori au fost interesati si de:</h4>
    <div class="grey-bar"> </div>

    <div class="recommendations">
      <button class="swipe">
        <img src="../../../../assets/favorite-list/left-arrow.png" alt="">
      </button>
      <app-watch-card price="50.001" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <app-watch-card price="50.000" name="Ceas ROLEX"></app-watch-card>
      <button class="swipe">
        <img src="../../../../assets/favorite-list/right-arrow.png" alt="">
      </button>
    </div>
    <div class="page-counter">
      <p>Pagina 1 din 3</p>
    </div>
  </div>
</div>