<div class="page">
  <div class="page__content">

    <div class="title">
      <h1>Favorite</h1>
    </div>
    <div class="grey-bar"> </div>

    <h2 class="all-products">Toate produsele <span>({{productsLength}} produse in lista)</span></h2>

    <div class="favorite-list"> 
      <!-- de adaugat productId = {{...}} cand integreaza back end-ul-->
      <app-favorite-watch-card *ngFor="let product of productsJson" buyerId={{userId}} productFavoritetId={{product.id}} name={{product.brand}} seller={{product.seller}}
        price={{product.price}} productId={{product.product_id}}>
      </app-favorite-watch-card>

    </div>

  </div>
</div>