<div class="top">
    <div class="header">
        <div class="header--filter"></div>
        <div class="searchbar">
            <div class="div">
                <img src="../../../../assets/home/search.png" alt="">
                <input class="input" type="text" placeholder="Search by brand, color ...">
            </div>
            <img src="../../../../assets/home/circle-arrow.svg" alt="">
        </div>
    </div>
    <div class="top-text">
        <h2>Photographing a watch</h2>
    </div>
</div>
<div class="intro">
    <p>
        The first thing potential customers encounter when searching for a new watch is usually the main listing photo. Clear, high-quality images are the best way to win buyers over.
    </p>
</div>
<div class="cards">
    <div class="card">
        <div class="card-text">
            <h2>
                1. The Background
            </h2>
            <br>
            <p>
                Choose an inviting, high-quality background for your watch. Materials like wood, concrete, or white furniture with simple decor look the most professional.
            </p>
        </div>
        <div class="card-image">
            <img src="../../../../assets/photographing-a-watch/1.png">
        </div>

        <div class="card">
            <div class="card-text">
                <h2>
                    2.  Lighting Conditions
                </h2>
                <br>
                <p>
                    Photograph your watch under natural light or in a bright environment. Daylight provides the best lighting without having to purchase additional equipment.
                </p>
            </div>
            <div class="card-image">
                <img src="../../../../assets/photographing-a-watch/2.png">
            </div>
            <div class="card-text spacing">
                <p>
                    Avoid using your camera's flash function. It can lead to inaccurate representations of the watch's color and material. It also reflects in the dial, making it difficult to get a true sense of the timepiece. If you need more light, seek out another source.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-text">
            <h2>
                3 . Composition
            </h2>
            <br>
            <p>
                Position the watch and other delivery contents in an logical, orderly fashion. Feel free to focus specifically on special details or other important information (e.g., the papers) in separate images.
            </p>
        </div>
        <div class="card-image">
            <img src="../../../../assets/photographing-a-watch/3.png">
        </div>
    </div>
</div>

<div class="btn-container">
    <div class="btn">
        <a [routerLink]="['/advice-for-sellers/caring-for-your-watch']" routerLinkActive="active">Back to caring</a>
    </div>
</div>
