<div class="page">

 
  <div class="searchbar">
    
    <div class="div">
        <img src="../../../../assets/home/search.png" alt="">
        <form (ngSubmit)="getData()" [formGroup]="searchDetails">
        <input class="input" type="text" placeholder="Search by brand, color ..." formControlName="content"> 
      </form>
    </div>

    <img src="../../../../assets/home/circle-arrow.svg" alt="">
  
</div>

  <div class="filter">
    <form  (ngSubmit)="getData()" [formGroup]="itemDetails">
      <div class="filter__grid">
        <div class="filter__grid__topleft">
          <h5>Filtre pentru a gasi ceasul perfect:</h5>
          <div class="filter__pret flex-row">
            <h5>Price:</h5>
            <div class="flex-row">
              <div class="ron">
                <input type="text" id="ron" value="0" maxlength="4" formControlName="price_min"/>
              </div>
              <div class="ron">
                <input type="text" id="ron" value="20" maxlength="4" formControlName="price_max"/>
              </div>
            </div>
          </div>
          <div class="filter__pentru flex-row">
            <h5>For: </h5>
            <div class="flex-column">
              <div>
                <input type="radio" name="gender" value="0" formControlName="gender">
                <label for="gender">Male</label>
              </div>
              <div>
                <input type="radio" name="gender" value="1" formControlName="gender">
                <label for="gender">Female</label>
              </div>
            </div>
          </div>
          <div class="flex-row filter-brand">
            <h5>Brand</h5>
            <select name="brand" id="brand" formControlName="brand" >
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.brands">
                {{filter}}
              </option>
            </select>
          </div>
        </div>
        <div class="filter__grid__bottom">
          <div class="flex-row">
            <h5>Mechanism</h5>
            <select name="mechanism" id="mechanism" formControlName="mechanism" >
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.mechanisms">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="flex-row">
            <h5>Condition</h5>
            <select name="condition" id="condition" formControlName="conditions">
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.conditions">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="flex-row">
            <h5>Year of
              production</h5>
            <select name="year" id="year" formControlName="year">
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.years">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="flex-row">
            <h5>Strap</h5>
            <select name="strap" id="strap" formControlName="strap" >
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.straps">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="flex-row">
            <h5>Strap color</h5>
            <select name="strap-color" id="strap-color" formControlName="strap_color">
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.strap_colors">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="flex-row">
            <h5>Carcase</h5>
            <select name="carcase" id="carcase" formControlName="carcase">
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.carcases">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="flex-row">
            <h5>Form</h5>
            <select name="form" id="form" formControlName="carcase_form">
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.carcase_forms">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="flex-row">
            <h5>Thickness</h5>
            <select name="thickness" id="thickness" formControlName="carcase_thickness">
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.carcase_thicknesses">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="flex-row">
            <h5>Water resistance</h5>
            <select name="water-resistance" id="water-resistance" formControlName="water_resistance">
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.water_resistences">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="flex-row">
            <h5>Carcase Color</h5>
            <select name="color" id="color" formControlName="carcase_color" >
              <option value="" >Please select</option>
              <option *ngFor="let filter of filtersJson.carcase_colors">
                {{filter}}
              </option>
            </select>
          </div>
          <div class="filter__pentru flex-row">
            <h5>Alarm</h5>
            <div class="flex-column">
              <div>
                <input type="radio" name="alarm" value="1" formControlName="alarm">
                <label for="alarm">Yes</label>
              </div>
              <div>
                <input type="radio" name="alarm" value="0" formControlName="alarm">
                <label for="alarm">No</label>
              </div>
            </div>
          </div>
          <div class="filter__pentru flex-row">
            <h5>Timer</h5>
            <div class="flex-column">
              <div>
                <input type="radio" name="timer" value="1" formControlName="timer">
                <label for="timer">Yes</label>
              </div>
              <div>
                <input type="radio" name="timer" value="0" formControlName="timer">
                <label for="timer">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter__button__container">
        <button (click)="resetData()" class="filter__reset__button">Reset</button>
        <button class="filter__button">Filter</button>
      </div>
    </form>
  </div>


  <div class="watches-list">


    <app-buy-a-watch-card *ngFor="let product of productsJson" buyerId={{userId}} productId={{product.id}} name={{product.brand}} sellerId={{product.user_id}}

      price={{product.price}}>

    </app-buy-a-watch-card>


    <div class="page-counter">
      <div class="left-arrows">
        <img src="../../../../assets/filter-page/right-double-arrow.svg" alt="">
        <img src="../../../../assets/filter-page/right-arrow.svg" alt="">
      </div>

      <div class="counter">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>...</p>
        <p>20</p>
      </div>

      <div class="right-arrows">
        <img src="../../../../assets/filter-page/right-arrow.svg" alt="">
        <img src="../../../../assets/filter-page/right-double-arrow.svg" alt="">
      </div>
    </div>

    <pre>{{itemDetails.value|json}}</pre>
    <pre>{{searchDetails.value|json}}</pre>
  </div>
</div>