@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

* {
    font-family: 'El Messiri', sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 1;
    font-weight: 600;

}

.promoted-title {
    margin: 50px 0px;
}

.watches-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.grey-line {
    width: 76%;
    height: 1px;
    background-color: grey;
    margin-bottom: 70px;
}

.page-counter {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 70px;
}

.left-arrows,
.right-arrows {
    display: flex;
    align-items: center;
}

.left-arrows img,
.right-arrows img {
    cursor: pointer;
}

.left-arrows img {
    transform: rotate(180deg);
}

.counter {
    margin-top: 5px;
    display: flex;
    gap: 15px;
}

.counter p {
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
}