<div class="title">
    <h2>
        PROTECTIA CUMPARATORULUI
    </h2>
</div>
<div class="card">
    <div class="card-text">
        <h2>
            Plata prin serviciul PayU
        </h2>
        <p>
            Datorită serviciului PayU de pe site, plata dvs. este complet în siguranță. După ce ați primit ceasul, păstrăm prețul de cumpărare pe contul nostru fiduciar până la 14 zile. Astfel, suma este păstrată în siguranță până când vă puteți convinge de calitatea ceasului dvs.
        </p>
    </div>
    <img src="../../../../assets/protectia-cumparatorului/1.png" alt="">
</div>
<div class="line">
    <img src="../../../../assets/protectia-cumparatorului/line.png">
</div>

<div class="card">
    <div class="card-text">
        <h2>
            Expediere asigurata
        </h2>
        <p>
            Fiecare ceas vândut este expediat asigurat de către comerciant la întreaga sa valoare. Astfel nu există niciun risc pentru dvs. – nici la cumpărarea din străinătate.
        </p>
    </div>
    <img src="../../../../assets/protectia-cumparatorului/2.png" alt="">
</div>
<div class="line">
    <img src="../../../../assets/protectia-cumparatorului/line.png">
</div>
<div class="buton-container">
    <div class="buton">
        <a (click)="onClose()">Am inteles</a>
    </div>
</div>


