<div class="top">
    <div class="header">
        <div class="header--filter"></div>
        <div class="searchbar">
            <app-searchbar></app-searchbar>
        </div>
    </div>
    <div class="top-text">
        <div class="top-text-title">
            <h2>Selling a watch</h2>
        </div>
        <div class="top-text-content">
            <p>Learn what you can do to create more attractive listings and improve your sales chances.</p>
        </div>
    </div>
</div>
<div class="cards">
    <div class="card">
        <div class="card-text">
            <h2>TIP 1.  Use High-Quality Images</h2>
            <br>
            <p>Take high-quality pictures of your watch from every angle.</p>
            <br>
            <p>The number of images you upload also has a major impact on the attractiveness of your listing. Photos are the best way for users to get a better sense of the watch's condition. Ideally, you should upload at least 8 images.</p>
        </div>
        <img src="../../../../assets/selling-a-watch/1.png">
    </div>
    
    <div class="card">
        <div class="card-text">
            <h2>TIP 2.  Set the right price</h2>
            <br>
            <p>Setting a realistic price increases your sales chances. Make sure it's a sum you'd be willing to accept without going overboard. Don't forget any accessories or if you have the original box and papers! This increases your watch's value.</p>
        </div>
        <img src="../../../../assets/selling-a-watch/2.png">
    </div>
    <div class="card">
        <div class="card-text">
            <h2>TIP 3.  Write a detailed description</h2>
            <br>
            <p>Take high-quality pictures of your watch from every angle.</p>
            <br>
            <p>The number of images you upload also has a major impact on the attractiveness of your listing. Photos are the best way for users to get a better sense of the watch's condition. Ideally, you should upload at least 8 images.</p>
        </div>
        <img src="../../../../assets/selling-a-watch/3.png">
    </div>
</div>
<div class="card-buttons">
    <div class="card-button firstcard">
        <a [routerLink]="['/advice-for-sellers']" routerLinkActive="active">Back to menu</a>
    </div>
    <div class="card-button">
        <a [routerLink]="['/advice-for-sellers/caring-for-your-watch']" routerLinkActive="active">Caring for a watch</a>
    </div>
</div>