.favorite-list__card {
    position: relative;
    /* width: 100%;   */
    width: 1200px;
    height: 195px;
    background-color: white;
    box-sizing: border-box;
    padding: 34px 35px 33px 35px;
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px;
    gap: 10px
}

.flex-column h3 {
    font-size: 20px;
    line-height: 1;
    font-weight: 600;

}

.color-grey {
    color: rgba(196, 196, 196, 1);

}

.stars {
    margin-top: -6px;
    display: flex;
    gap: 6px;
}

.flex-column-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    right: 35px;
}

.flex-column-right h3 {
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
}

.color-red {
    color: red;
}

.color-green {
    color: rgba(19, 210, 61, 1)
}

.add-button {
    display: flex;
    align-items: center;
    height: 38px;
    background: #1D566E;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0 15px;
    color: white;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.add-button:hover {
    background: #1e7195;
    transition: all .4s;
}

.add-button img {
    margin-left: 7px;
}

.color-blue {
    cursor: pointer;
    color: rgba(29, 86, 110, 1);
}

.vertical-grey-bar {
    position: absolute;
    height: 145px;
    width: 1px;
    background-color: rgba(191, 197, 203, 1);
    left: 58%;
}