<div class="loading" *ngIf="auth.isLoading$ | async; else loaded">
    <div class="loader">
        <span class="arrow">↓</span>
        <span class="arrow" style="--delay: 0.1s">↓</span>
        <span class="arrow" style="--delay: 0.3s">↓</span>
        <span class="arrow" style="--delay: 0.4s">↓</span>
        <span class="arrow" style="--delay: 0.5s">↓</span>
      </div>
</div>
<ng-template #loaded>
    <div class="page-container">
        <div class="content-wrap">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</ng-template>
