<div class="page">
  <h1>PRODUSELE NOASTRE</h1>

  <div class="drop-down">
    <div (click)="toggle('brands')" class="abstract">
      <h2>Brands</h2>
      <img src="../../../../assets/categories/arrow-down.svg" alt="">
    </div>
    <ng-container *ngIf="showBrands">
      <div class="content content-brands">
        <div (click)="goToBrand('Rolex')" class="item item-brands">
          <img src="../../../../assets/categories/rolex-logo.png" alt="">
          <img src="../../../../assets/categories/rolex-watch.png" alt="">
        </div>
        <div (click)="goToBrand('Timex')" class="item item-brands">
          <img class="timex-logo" src="../../../../assets/categories/timex-logo.png" alt="">
        </div>
        <div (click)="goToBrand('Daniel Wellington')" class="item item-brands">
          <img src="../../../../assets/categories/daniel-wellington-logo.png" alt="">
        </div>
        <div (click)="goToBrand('Fossil')" class="item item-brands">
          <img src="../../../../assets/categories/fossil-logo.png" alt="">
        </div>
        <div (click)="goToBrand('Citizen')" class="item item-brands">
          <img class="citizen-logo" src="../../../../assets/categories/citizen-logo.png" alt="">
        </div>
        <div (click)="goToBrand('Versace')" class="item item-brands">
          <img class="versace-logo" src="../../../../assets/categories/versace-logo.png" alt="">
          <img src="../../../../assets/categories/omega-watch.png" alt="">
        </div>
        <div class="button">
          <button (click)="goToBrand('')" class="btn">Display all <img src="../../../../assets/categories/arrow-down.svg" alt=""></button>
        </div>
      </div>
    </ng-container>
  </div>

</div>