<div class="footer">
    <div class="columns">
        <div class="columne-one">
            <p class="title">Cumparare</p>
            <ul>
                <li><a href="#">Protectia cumparatorului</a></li>
                <li><a href="#">Garantie ceasuri</a></li>
                <li><a href="#">Retur comod</a></li>
            </ul>
        </div>
        <div class="columne-two">
            <p class="title">Vanzare</p>
            <ul>
                <li><a href="#">Protectia vanzatorului</a></li>
                <li><a href="#">Sfaturi pentru vanzatori</a></li>
            </ul>
        </div>
        <div class="columne-three">
            <p class="title">Ajutor</p>
            <ul>
                <li><a href="#">Harta site</a></li>
                <li><a href="#">Adauga anunt</a></li>
                <li><a href="#">Creeaza cont</a></li>
            </ul>
        </div>
    </div>
    

    <a class="btn" (click)="topFunction()" style="cursor: pointer;"><img src="assets/footer/up-btn.svg" alt=""></a>
</div>