button{
    font-size: 20px;
    line-height: 20.83px;
    text-align: center;
    background-color: #21ABA5;
    border-radius: 78px;
    height: 37px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}