<div class="top">
    <div class="header">
        <div class="header--filter"></div>
        <div class="searchbar">
            <app-searchbar></app-searchbar>
        </div>
    </div>
    <div class="top-text">
        <h2>Advice for sellers</h2>
    </div>
</div>

<div class="cards-top">
    <div class="card">
        <img src="../../../../assets/advice-for-sellers/1.png">
        <div class="card-title">
            <h2>Selling a watch</h2>
        </div>
        <div class="card-text">
            <p>Learn what to do to create more attractive listings and improve your sales chances </p>
        </div>
        <div class="card-button">
            <a [routerLink]="['/advice-for-sellers/selling-a-watch']" routerLinkActive="active">Learn more</a>
        </div>
    </div>
    
    <div class="card">
        <img src="../../../../assets/advice-for-sellers/1.png">
        <div class="card-title">
            <h2>Taking care of your watch</h2>
        </div>
        <div class="card-text">
            <p>Taking proper care of your watch improves its longevity and will be a deciding factor when you go to sell it. </p>
        </div>
        <div class="card-button">
            <a [routerLink]="['/advice-for-sellers/caring-for-your-watch']" routerLinkActive="active">Learn more</a>
        </div>
    </div>
</div>

<div class="cards-bottom">
    <div class="card">
        <img src="../../../../assets/advice-for-sellers/1.png">
        <div class="card-title">
            <h2>Photographing a watch</h2>
        </div>
        <div class="card-text">
            <p>Discover how to take high-quality images of your watch using the following tips and examples.</p>
        </div>
        <div class="card-button">
            <a [routerLink]="['/advice-for-sellers/photographing-a-watch']" routerLinkActive="active">Learn more</a>
        </div>
    </div>
</div>

